<section>
    <div class="container content__center">
        <h2>Welcome to express auth demo</h2>
        <p>
            This is app was built with: <br/> <code>node, prisma, postgresql express, and passport js  </code> 
        </p>
        <p>Click sign in or get started to create an account...</p>
    </div>
</section>
